@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background:#220547;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}
.players{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.teams{
    margin-bottom: 15px;
}
.players h3{
    color: #1cfa07;
    text-align: center;
}
.players img{
    width: 90px;
    background: none;
}
.players button{
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    background:#03dbfc;
}
.header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header h1{
    text-align: center;
    color:#1cfa07;
    font-weight: 500;
    position: relative;
    display: inline-block;
}
.header h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    background: #1cfa07;
    height: 2px;
}
.header div{
    max-width: 100px;
    width: 100%;
    text-align: center;
    background: #03dbfc;
    padding: 10px;
    margin: 10px 300px;
    font-weight: 800;
    border-radius: 5px;
}
.versus{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scores{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score-div{
    background: #03dbfc;
    border-radius: 5px;
    font-weight: 800;
    padding: 8px;
    width: 50px;
    text-align: center;
}
.score-versus{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.versus p{
    color: #1cfa07;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 15px;
}
.versus button{
    border: solid 3px #1cfa07;
    background: #1cfa07;
    color: #220547;
    font-weight: 800;
    margin-bottom: 10px;
    width: 90px;

}
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#final-winner{
    font-size: 30px;
    font-weight: 900;
}
.versus img{
    width: 100px;
    margin-bottom: 20px;
    background: #1cfa07;
    border-radius: 30px;
}

@media (max-width: 600px){

    .header h1{
        font-weight: 400;
        font-size: 20px;
    }
    .header div{
        max-width: 50px;
        background: #03dbfc;
        padding: 5px;
        font-size: 8px;
        font-weight: 900;
    }
    .players{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .player-one{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }
    .player-two{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .choices{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .versus img{
        width: 50px;
        margin-bottom: 3px;
        background: #1cfa07;
        border-radius: 10px;
    }
    .versus{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .score-versus{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .scores{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .teams{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .choice button{
        border-radius: 15px;
        padding: 2px;
        cursor: pointer;
        background:#03dbfc;
    }
    .choice img{
        width: 50px;
    }
    .choice h3{
        font-size:10px;
        margin-bottom: -40px;
    }
    .button{
        margin-top: 6px;
    }
    .player-two{
        margin-top: -40px;
    }
    .score-div{
        max-width: 50px;
        background: #03dbfc;
        padding: 5px;
        font-size: 8px;
        font-weight: 900;
    }
}
@media (min-width: 601px) and (max-width: 1024px){

}
@media (min-width: 1025px) {

}

